<header class="header">
  <a href="#" class="header__logo">TYNY 2019</a>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__link">
        <a href="#">Конференция</a>
      </li>
      <li class="header__link">
        <a href="#">Программа</a>
      </li>
      <li class="header__link">
        <a href="#">Спикеры</a>
      </li>
      <li class="header__link">
        <a href="#">Фото</a>
      </li>
      <li class="header__link">
        <a href="#">Материалы</a>
      </li>
    </ul>
    <div class="header__contacts">
      <button class="button button--header header__log" type="button">Регистрация</button>
      <ul class="header__socials">
        <li class="header__social header__social--mail">
          <a href="https://mail.ru/" target="_blank"></a>
        </li>
        <li class="header__social header__social--facebook">
          <a href="https://www.facebook.com/" target="_blank"></a>
        </li>
      </ul>
    </div>
  </nav>
  <button class="header__burger" type="button"></button>
</header>
